<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @league.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @league.end_date %>
</p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<p>
  <b>Standings:</b>
  <%= render 'league_standings' %>
</p>

<%= render 'winnings_graph'%>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>

  