<div class="grid_6">
  <p id="notice"><%= notice %></p>
  <h1 id="user-name">Welcome back, <%= @user.name %></h1>
  <span id="view-profile-link"><%= link_to "View my profile >>", @user.player %></span>
  <p id="league-standings-summary">You are currently in 
    <span class="special-green">
      <%= (@user.player.leagues[0].standing_of(@user.player)+1).ordinalize %> place
    </span>
    with
    <span class="<%=@user.player.winnings >= 0 ? "special-green" : "special-red"%>">
      <%= with_dollar_sign @user.player.winnings %>
    </span> 
    in your league!
  </p>
</div>

<div class="clear"></div>

<div class="grid_12">
  <div id="add-round-button"><%=  %>
    <%= link_to((image_tag("green-plus.png") + "<span id='add-a-game-link'>Add a Game</span>".html_safe), "javascript:show_add_round()") %>
  </div>
  <h2 class="component-heading"><%= image_tag "glyphicons_032_wifi_alt.png" %>Recent games</h2>
  <%= render 'shared/game_score_table' %>
</div>

<div class="clear"></div>

<div class="grid_6">
  <h2 class="component-heading"><%= image_tag "glyphicons_289_podium.png" %>League standings</h2>
  <%= render 'leagues/league_standings'%>
</div>

<div class="grid_6">
  <h2 class="component-heading"><%= image_tag "glyphicons_040_stats.png" %>Winnings chart</h2>
  <%= render 'leagues/winnings_graph'%>
</div>