<div class="grid_6">
  <p id="notice"><%= notice %></p>
  <h1 id="user-name">Welcome back, <%= @user.name %></h1>
  <span id="view-profile-link"><%= link_to "View my profile >>", @user.player %></span>
  <p id="league-standings-summary">You are currently in a place with
    <%= with_dollar_sign @user.player.winnings %> in your league!
  </p>
</div>

<div class="clear"></div>

<div class="grid_12">
  <h2 class="component-heading">Recent games</h2>
  <%= render 'shared/game_score_table' %>
</div>

<div class="clear"></div>

<div class="grid_6">
  <h2 class="component-heading">League standings</h2>
  <%= render 'leagues/league_standings'%>
</div>

<div class="grid_6">
  <h2 class="component-heading">Winnings chart</h2>
  <%= render 'leagues/winnings_graph'%>
</div>