<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.email %>
  <br/><b>Name: </b>
  <%= @user.name %>
  <br/><b>Winnings: </b>
  <%= with_dollar_sign @user.player.winnings %>
</p>

<p><b>Recent games:</b>
  <%= render 'shared/game_score_table' %>
</p>

<p><b>League standings: </b>
  <%= render 'leagues/league_standings'%>
  <br/><b>Boss table</b>
  <%= render 'leagues/boss_table'%>
  <br/><b>Winnings chart</b>
  <%= render 'leagues/winnings_graph'%>
</p>