  <%= link_to image_tag("logo.png", :alt => 'TurboHearts', :class => 'logo'), dashboard_path %>
  
  <div id="signin-info">
    <% if signed_in? %>
    <span class="toolbar-button"><%= link_to current_user.name, dashboard_path %></span>
    <span id="options-dropdown-button" class="toolbar-button">Options</span>
    <div id="options-dropdown">
      <ul>
        <li><%= link_to "View dashboard", dashboard_path %></li>
        <li><%= link_to "View profile", current_user.player %></li>
        <li>Edit profile</li>
        <li>
          <%= link_to "Sign out", signout_path, :method => :delete %></p>
        </li>
      </ul>
    </div>
    <% else %>
    <div class = "mini-login"> <%= render 'sessions/sign_in_form' %> </div>
    <% end %>
  </div>  
