<div class="container_12">
  <div class="grid_3">
  <%= link_to image_tag("logo.png", :alt => 'TurboHearts', :class => 'logo'), dashboard_path %>
  </div>
  
  <div id="toolbar-buttons" class="grid_4">
  <% if signed_in? %>
  <span class="toolbar-button" id="dashboard-toolbar-button"><%= link_to "Dashboard", dashboard_path %></span>
  <span class="toolbar-button" id="league-toolbar-button"><%= link_to "League", current_user.player.leagues[0] %></span>
  <span class="toolbar-button" id="profile-toolbar-button"><%= link_to "Profile", current_user.player %></span>
  <% end %>
  </div>

  <div id="right-banner-info">
    <%= render 'players/search_form' %>
  <% if signed_in? %>
  <span class="logout-link"><%= link_to "Logout", signout_path, :method => :delete %></span>
  <% else %>
        <div class = "mini-login"> <%= render 'sessions/sign_in_form' %> </div>
  <% end %>
  </div>  
</div>