<% @bolded_player ||= current_user.player %>
<% @abs_max = absolute_maximum_dollar_value @recent_rounds%>
<table class="game-score">
  <% if @show_form_for_points %>
  <tr class = "score-entry">
    <%= form_tag( '/new_round', :method => "post", :remote => true ) do %>
      <% (1..4).each do |i| %>
      <td>
        <table class="score-entry">
          <tr><td> <%= text_field_tag "player#{i}_name".to_sym %> </td></tr>
          <tr><td> <%= text_field_tag "player#{i}_score".to_sym %> </td></tr>
        </table>
      </td>
      <% end %>
    <td> <%= submit_tag "Add round" %> </td>
  <% end %>
  </tr>
  <% end %>
  
  <% @recent_rounds.each do |round| %>
  <% @round = round %>
  <%= render 'shared/round_score_table_row' %>
  <% end %>
</table>