<% @bolded_player ||= current_user.player %>
<% @abs_max = absolute_maximum_dollar_value @recent_rounds%>
<table class="game-score gray-shiny">
  <% if @show_form_for_points %>
  <tr class = "score-entry">
    <td class="round-date"/>
    <%= form_tag( '/new_round', :method => "post", :remote => true ) do %>
      <% (1..4).each do |i| %>
        <td> <%= text_field_tag "player#{i}_name".to_sym, "", {:class => 'player-autocomplete player-name'}%> 
        <%= link_to image_tag("grey-down-arrow.png"), "javascript:open_player_autocomplete(#{i});", {:id => "player#{i}_dropdown", :tabindex => "-1"} %>: 
      <%= text_field_tag "player#{i}_score".to_sym, "", {:class => 'player-score'} %> pts</td>
      <% end %>
      <td> <%= submit_tag "Add" %> </td>
  <% end %>
  </tr>
  <% end %>
  
  <% @recent_rounds.each do |round| %>
  <% @round = round %>
  <%= render 'shared/round_score_table_row' %>
  <% end %>
</table>

<% if @show_form_for_points %>
<script type="text/javascript">
$(function() {
  var player_names = <%= current_user.player.players_in_clique.map{|player|player.name}.to_s.html_safe %>;
	$( ".player-autocomplete" ).autocomplete({
		source: player_names,
    delay:0
	});
});
</script>
<% end %>