 <tr>
    <td>
      <%= @round.created_at.strftime("%m/%d") %>
    </td>
    <% @round.points_sorted.each do |point| %>
    <td class="player-score-cell <%= @bolded_player == point.player ? "player-score-highlighted" : nil %>">
      <div class="player-score-indicator" bgcolor="<%= color_for_dollar_value point, @abs_max %>">
      </div>
      <div class="player-score-name">
        <%= link_to point.player.name, point.player %>
      </div>
      <div class="player-score-delta tk-league-gothic">
        <%= with_dollar_sign point.dollar_value %>
      </div>
      <div class="player-score-points">
        <%= point.value %>pts
      </div>
    </td>
    <% end %>
    <td/>
  </tr>