<div class="grid_6">
<% if params[:search] %>
<h1>Search results for "<%=params[:search]%>"</h1>
<p>Your search returned <%=@players.size%> players.</p>
<% else %>
<h1>Listing players</h1>
<% end %>
</div>

<div class="clear"></div>

<div class="grid_12">
<table class = "gray-shiny">  

<% @players.each do |player| %>
  <tr>
  <td><%= link_to player.name, player %> <%= "(#{player.user.email})" if player.user %></td>
    <td>
    <% @league = get_a_league_for_player player %>
    <% if @league %>
    Currently <span class="special-green"><%= (@league.standing_of(player) + 1).ordinalize %> place</span> in league with 
    <span class="<%= player.winnings >= 0 ? "special-green" : "special-red"%>"><%= with_dollar_sign player.winnings %></span> in winnings. 
    <% end %>
    </td>
    <td>Has participated in 
      <%= pluralize player.rounds.size, "game"%>.
    </td>
  </tr>
<% end %>
</table>
</div>
