<!DOCTYPE html>
<html>
<head>
  <title>Turbohearts</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "jquery-ui-1.8.16.custom" %>
  <%= stylesheet_link_tag    "960" %>
  <%= javascript_include_tag "application" %>
  <!--[if IE]> <%= javascript_include_tag "excanvas.min" %> <![endif]-->
  <%= javascript_include_tag "jquery.flot.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= javascript_include_tag "game_table" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="http://use.typekit.com/cfk8myz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<% unless @do_not_show_sign_in_info %>
<header id = "banner">
  <%= render 'shared/banner' %>
</header>
<% end %>

<section id="content" class="container_12">
<%= yield %>
<div class="clear"></div>
<div id="spacer-div" class="grid_12"></div>
</section>

</body>
</html>
