<!DOCTYPE html>
<html>
<head>
  <title>Turbohearts</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id = "login">
    <% if signed_in? %>
    <p><%= link_to "Sign out", signout_path, :method => :delete %></p>
    <% else %>
    <p><%= link_to "Sign in", signin_path %></p>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
