<!DOCTYPE html>
<html>
<head>
  <title>Turbohearts</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if IE]> <%= javascript_include_tag "excanvas.min" %> <![endif]-->
  <%= javascript_include_tag "jquery.flot.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @do_not_show_sign_in_info %>
<div id = "banner">
  <%= render 'shared/banner' %>
</div>
<% end %>

<div id="content">
<%= yield %>
</div>

</body>
</html>
